/* Resetear estilos y configuraciones */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el body y el contenedor principal */
body {
    background-color: #f0f0f0; /* Tonos pastel de fondo */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para que el cuerpo ocupe toda la altura visible */
}

.login-container {
    background-color: #9a84cda4; /* Fondo blanco para el contenedor */
    border-radius: 10px; /* Bordes suaves */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    width: 400px; /* Ancho fijo del contenedor */
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.login-header .avatar {
    width: 80px; /* Ajustar el tamaño del avatar */
    height: 80px;
    border-radius: 50%; /* Hacer el avatar circular */
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px; /* Espacio debajo del título */
}

.form-group {
    margin-bottom: 15px; /* Espacio entre los elementos del formulario */
}

.btn {
    width: 100%; /* Botones con ancho completo */
    height: 40px;
}

#loginForm {
    margin-bottom: 10px;
}

p {
    color: #555;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
